/*1.定义一个字体家族*/
@font-face {
  font-family: "jd-font";
  src: url(../font/iconfont.eot) format('embedded-opentype'),
    url(../font/iconfont.svg) format('svg'),
    url(../font/iconfont.ttf) format('truetype'),
    url(../font/iconfont.woff) format('woff'),
    url(../font/iconfont.woff2) format('woff2')
}
[class^="iconfont"],
[class*=" iconfont"] {
  font-family:"jd-font"
}
.icon-home::after{
  content: '\e61e'
}
.icon-cate::after{
  content: '\e682'
}
.icon-shop::after{
  content: '\e61d'
}
.icon-buy::after{
  content: '\e601'
}
.icon-mine::after{
  content: '\e608'
}
.icon-gototop::after{
  content: '\e6a4'
}