/* 1. 定义一个字体家族*/
@font-face {
  font-family: 'dangdang';
  src: url(../fonts/iconfont.eot) format('embedded-opentype'),
    url(../fonts/iconfont.ttf) format('truetype'),
    url(../fonts/iconfont.woff) format('woff'),
    url(../fonts/iconfont.svg) format('svg');
}
/* 2. 定义属性选择器*/
[class^='icon'],
[class*=' iconfont'] {
  font-family: 'dangdang';
}

/* 3. 设置每一个字体图标*/
.icon-shouye::after {
  content: '\e61d';
}
.icon-fenlei::after {
  content: '\e70f';
}
.icon-forum2::after {
  content: '\e600';
}
.icon-gouwuche::after {
  content: '\e601';
}
.icon-wode::after {
  content: '\e62b';
}
